:root{
    --fs-xl:6rem;
    --fs-900:2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.25rem;
}
@media (min-width: 768px) and (max-width: 991px) {
    :root{
        --fs-xl:3rem;
        --fs-900:1.75rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}
@media (max-width: 767px) {
    :root{
        --fs-xl:2rem;
        --fs-900:1.5rem;
        --fs-600: 1.25rem;
        --fs-500: 1rem;
        --fs-400: 0.75rem;
    }
}


body{
    margin:0%;
}

.hero{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: #FF204E;
    height:768px;
    width:100%;
    margin: 0px;
}

.corner-svg{
    height: 200px;
    padding: 0%;
    position: relative;
    left: -20px;
}

@media (max-width:450px){
    .corner-svg{
        height: 150px;
    }
}
.outer{
    display: flex;
    align-self: center;
    flex-shrink: 3;
    justify-content: center;
    align-items: center;
    background-color: #00224D;
    /* position: relative;
    left: 15%; */

}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D0E41;
    border: 15px solid #00224D;
    height: 100%;
    width: 100%;
}
.inner{
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    background-color: #FF204E;
    height: 100%;
    width: 100%;
    padding: 20px;
    border: 15px solid #5D0E41;
    
}

.name{
    font-size: var(--fs-xl);
    letter-spacing: 5px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    margin-left: 10%px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.phrase{
    margin :0px;
    font-size: var(--fs-600);
    font-weight: 900;
    margin-top: 0px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
@media (max-width: 575px){
    .corner{
        height: 100px;
    }
    .outer{
        margin-bottom: 50px;
    }
    .mid{
        border: 5px solid #00224D;
    }
    .inner{
        border: 5px solid #5D0E41;
    }
    .name{
        letter-spacing: 2px;
    }
    .page{
        height: fit-content;
    }
}
@media(max-width:450px){
    :root{
        --fs-xl:1.1rem;
        --fs-600: 0.5rem;
    }
}
.hello{
    display: flex;
    align-items: center;
    background-color: #A0153E;
    height:768px;
    width: 100%;
    margin: 0px;
}
.out{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    background-color: #00224D;
    height: 80%;
    width: 300px;
}
.m{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D0E41;
    width:95%;
    height: 95%;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF204E;
    height: 95%;
    width: 95%;
}
.self-pic{
    height: 95%;
    width: 95%;
    object-position: 45%;
    object-fit: cover;
}
.box{
    background-color: #FF204E;
    border-radius: 30px;
    height: 25%;
    width: 95%;
    margin: 50px;
}
.sub-title{
    letter-spacing: 5px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: var(--fs-900);
    color: #ffffff;
}
.text{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: var(--fs-400);
    color: #ffffff;
}
@media (max-width: 687px){
    .hello{
        justify-content: center;
        flex-direction: column;
    }
    .out{
        margin :20px;
    }
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #A0153E;
    height:768px;
    margin: 0px;
}
.skill{
    margin-left:45px
}
.skill-text{
    display: flex;
    flex-direction: column;
}
.skill-block{
    display: flex;
    background-color: #FF204E;
    width: 90%;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius:30px ;
    height: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

.sub{
    font-size: var(--fs-500);
    margin-left: 15px;
    letter-spacing: 1px;
}
.sk{

    margin-left: 15px;
    width: 100%;
}
.skill-img{
    height: 80%;
    float: right;
    margin: 15px;
}
@media (max-width:575px ){
    .skills{
        height: fit-content;
    }
    .skill-block{
        flex-direction: column;
        align-items: center;
        align-self: center;
        margin: 0px;
        margin-top: 20px;
    }
    .skill-img{
        height: 200px;
        width: 200px;
    }
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: #A0153E;
    height:400px;
    width: 100%;
    margin: 0px;
}
.more{
    margin-left: 45px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-style: normal;
    background-color: #FF204E;
    height: 50px;
    min-width:fit-content;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.pink-part{
    display: flex;
    justify-content: center;
    background-color: #FF204E;
    height: 70%;
}
.copyright{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    opacity: 0.8;
}